$theme-colors: (
    'primary': #008080,
    'yellow': #ffcf00,
    'dark': #262626,
    'light': #fbfbfb,
    'danger': #dc3545
);
    
$display-font-sizes: (
    1: 3.00rem,
    2: 2.50rem,
    3: 2.00rem,
    4: 1.70rem,
    5: 1.30rem,
    6: 1.00rem
);
        
@import "C:/xampp/htdocs/CADECOUAF/node_modules/bootstrap/scss/bootstrap.scss";

*, ::after, :before {
    margin:                 0;
    padding:                0;
    box-sizing:             border-box;
}

@font-face {
    font-family:            "Casual";
    src:                    url("Casual-Regular.ttf");
}

html
{
    scroll-behavior:        smooth;
    user-select:            none;
    overflow-x:             hidden;
    letter-spacing:         0.2rem;
}
body {
    background-color: #008080;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family:            'Casual';
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffcf00;
}
a button  {
    // font-family: 'Casual';
    letter-spacing: 3px;
}

footer a p {
    color: #d3d3d3;
}
.navbar-brand img {
    width: 100px;
    height: auto;

}
li a img {
    opacity: 50%;
    width:15px;
    transform: rotate(-45deg);
}
.patte_svg {
    width:25px;
    position: relative;
    top: 5px;
    transform: rotate(-45deg);
}


// 
// CAROUSEL 
//
div.carousel-item img
{
    max-width: 75%;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
}
